nav{
    position:sticky;
    top:0;
    z-index:999;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 60px;
    background:white;
    box-shadow:0 2px 12px rgba(0,0,0,.08);
}

.logo{
    font-size:32px;
    font-weight:700;
    color:#ff385c;
}

nav ul{
    display:flex;
    list-style:none;
    gap:35px;
}

nav a{
    text-decoration:none;
    color:#333;
    font-weight:600;
    transition:.3s;
}

nav a:hover{
    color:#ff385c;
}